<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Jorge Guzman. I enjoy mathematics, and coding. I'm currently reading <a href="https://www.amazon.com/Art-Craft-Problem-Solving/dp/0471135712/ref=sr_1_4?crid=132YZWLWZ1B65&dib=eyJ2IjoiMSJ9.AJivjM9ZnlzfqY-M1-ouQ-PmWorzeXQEcoDLsK93-eEgatx1bWkd9YP4kKH93vBg6xI__3k8IFJbTTtQAP8Vl5c27Ev18no2Qw5is5-4ZmuwDUhqlbhOFBgVvM-LQ2s84LsGbF5qO2tvePad4vjRRw2-PCKxFc7vAzcVe68mUe3DqkUAD-Tl0xFFekhnd1e8t7MjVKipkXZ-xh3N05h_ej7OAE9BOY3F92htIwrmG8I.DOinMYB6LyESf_NxwGTKhJ_I9mkk-dx2ktbyNSZLhxY&dib_tag=se&keywords=the+art+and+craft+of+problem+solving&qid=1715205055&s=books&sprefix=the+art+and+craft+of+pro%2Cstripbooks%2C169&sr=1-4">The Art and Craft of Problem Solving</a>, and <a href="https://giotto-ai.github.io/gtda-docs/0.5.1/notebooks/MNIST_classification.html">Topological Data Analysis with Python</a>.</p>
  </div>
</section>
