<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Jorge Guzman. I enjoy translating math concepts into code solutions, mainly using Python. I'm currently reading <a href="https://merely-useful.tech/py-rse/getting-started.html">Research Software Engineering with Python</a>, <a href="https://github.com/scikit-tda/scikit-tda/blob/master/docs/notebooks/scikit-tda%20Tutorial.ipynb">Topological Data Analysis with Python</a>, and <a href="http://neuralnetworksanddeeplearning.com/chap1.html">Neural Networks and Deep Learning</a>.</p>
  </div>
</section>
